.card {
  width: 100%;
  height: 170px;
  position: relative;
  display: block;
  pointer-events: none;
}

.card[data-state='OPEN'] {
  display: block;
  position: fixed;
  top: 5vh;
  left: 0;
  right: 0;
  z-index: 1;
}
