.container {
  background-color: transparent;
  border: none;
}

.item {
  background-color: var(--color__ui--light);
  position: relative;
  display: flex;
  border-radius: 5px;
  padding: 15px 0;
  cursor: grab;
  /* TODO: handle grabbing */
  z-index: 1;
}

.actions {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
