.title {
  height: 3rem;
  font-size: 1.25rem;
  padding: 10px 0 10px 0;
  margin: 20px 20px 0 20px;
}

.subtitle {
  margin: 30px 20px 10px 20px;
}

.header {
  background-color: var(--color__ui--light);
  padding-bottom: 12.5px;
}

.actions {
  padding: 10px 20px 0 20px;
}

.action {
  font: inherit;
  cursor: pointer;
  padding: 0 5px;
  margin: 5px 0 0 0;
  border: 1px solid #222;
  background-color: #fff;
}

.progress {
  height: 1rem;
}

.action:not(:first-of-type) {
  margin-left: 10px;
}
