.container {
  height: 100%;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 200px calc(100vh - 195px);
  grid-template-areas:
    'header'
    'main';
}

.title {
  font-size: 1.55rem;
  font-weight: 600;
}

.header {
  max-width: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: header;
  margin: 20px auto 10px auto;
}

.new {
  cursor: pointer;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  background-color: var(--color__ui--brand);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.1);
  border: none;
  padding: 0.5rem;
  z-index: 999;
}

.new svg {
  stroke: var(--color__ui--light);
}

.main {
  grid-area: main;
  display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin: 10px 0;
}
