:root {
  --color__bg: papayawhip;
  --color__ui--default: #f4f4f4;
  --color__ui--light: #fff;
  --color__accent--danger: #fa4d56;
  --color__accent--success: #42be65;
  --color__accent--warn: #f1c21b;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  box-sizing: border-box;
  font-size: 16px;
  background-color: var(--color__bg);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #222;
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
}

p,
h1,
h2,
h3 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.input {
  font: inherit;
  border: 1px solid #222;
  background-color: #fff;
  padding: 0 5px;
  max-width: 171px;
}

.input::placeholder {
  color: #222;
  opacity: 1;
}

.checkbox + .label .label__icon {
  border: 2px solid transparent;
}

.checkbox:focus + .label .label__icon {
  border-color: rgb(59, 153, 252);
}

.button {
  font: inherit;
  cursor: pointer;
  padding: 0 5px;
  border: 1px solid #222;
  background-color: #fff;
}

.text-form {
  display: flex;
}

.text-form__input {
  width: 70%;
  margin-right: -1px;
}

.card {
  width: 100%;
  height: 170px;
  position: relative;
  display: block;
  pointer-events: none;
}

.card--open {
  top: 5%;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1;
}

.card__content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  pointer-events: auto;
  position: relative;
  background-color: var(--color__ui--light);
  border: 1px solid #222;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.card__content--open {
  display: block;
  margin: 1rem auto;
  height: 80vh;
  min-height: 300px;
  width: 80vw;
  overflow-y: scroll;
}

.card-header {
  cursor: pointer;
}

.card-header__action {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  margin: 0 10px;
  opacity: 0.5;
}

[data-done='true'] {
  text-decoration: line-through;
}

.site__container {
  height: 100%;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 200px calc(100vh - 195px);
  grid-template-areas:
    'header'
    'main';
}

.site__title {
  font-size: 1.55rem;
  font-weight: 600;
}

.site__header {
  max-width: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: header;
  margin: 20px auto 10px auto;
}

.site__header-actions {
  margin-top: 1rem;
}

.site__main {
  grid-area: main;
  display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin: 10px 0;
}

.todo-list__title {
  font-size: 1.25rem;
  padding: 10px 0 10px 0;
  margin: 20px 20px 0 20px;
}

.todo-list__subtitle {
  margin: 30px 20px 10px 20px;
}

.todo-list__header {
  background-color: var(--color__ui--light);
  padding-bottom: 12.5px;
  position: sticky;
  top: 0;
  z-index: 2;
}

.vertical-scroll-list {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  padding: 20px 10%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.vertical-scroll-list__item {
  margin: 0 5% 20px 5%;
  scroll-snap-align: start;
}

.todo-list__actions-container {
  padding: 10px 20px 0 20px;
}

.todo-list__action {
  margin: 5px 0;
}

.todo-list__action:not(:first-of-type) {
  margin-left: 10px;
}

.todo {
  position: relative;
  display: flex;
  border-radius: 5px;
  padding: 15px 0;
  cursor: grab;
  /* TODO: handle grabbing */
  z-index: 1;
}

.todo__container {
  position: relative;
}

.todo__label {
  display: inline-block;
  width: 75%;
  padding: 0 10px 0 20px;
}

.todo__complete {
  padding: 0 0 0 20px;
}

.h-draggable {
  background-color: transparent;
  border: none;
}

.h-draggable__item {
  background-color: var(--color__ui--light);
}

.h-draggable__actions {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.content-editable {
  cursor: text;
}

.content-editable--input {
  width: 100%;
  display: block;
}

.card__overlay {
  z-index: 1;
  position: fixed;
  background-color: var(--color__bg);
  will-change: opacity;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.progress {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.progress-bar__container {
  flex-grow: 1;
  position: relative;
  height: 12.5px;
  overflow: hidden;
  background-color: var(--color__ui--default);
}

.progress-bar {
  transform-origin: left;
  height: 12.5px;
}

.progress__text {
  font-size: 0.75rem;
  opacity: 0.65;
  padding: 0 0 0 0.5rem;
}

@media only screen and (min-width: 560px) {
  .vertical-scroll-list__item {
    width: 500px;
    margin: 0 auto 30px auto;
  }
}
